.nav-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header>#logo, .nav-header>#toggle {
  margin: 8px 0;
}

.nav-header>#logo {
  margin-right: 5em;
}

.nav-header>#toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1000px) {
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
  }

  #navContentTitle {
    align-items: flex-start;
  }

  #navContentAction {
    justify-content: space-between;
    align-items: center;
  }

  #navContentAction, #navContentTitle, #navContentTitle+hr {
    width: 100% !important;
  }

  [name='product'] {
    display: none;
  }

  #search {
    margin: auto;
    width: 50vw;
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  #navContent {
    display: initial;
  }
}
