<div class="bg-accent text-primary py-5">
  <div class="container">
    <div class="box__item box__item--top">
      <div style="margin-bottom: 15px"><img src="../../assets/Best YOUR CHOOSE.png" alt="BestYourChoose.png"></div>
      <div>
        <div class="box__item--headingtext">VỀ CHÚNG TÔI</div>
        <div class="box__text--hover">
          <p>Giới thiệu</p>
          <p>Lịch sử hình thành</p>
          <p>Thông tin chi tiết</p>
          <p>Liên hệ</p>
        </div>
      </div>
      <div>
        <div class="box__item--headingtext">HỖ TRỢ KHÁCH HÀNG</div>
        <div class="box__text--hover">
          <p>Giao hàng</p>
          <p>Phương thức thanh toán</p>
          <p>Cách thức mua hàng</p>
        </div>

      </div>
      <div>
        <div class="box__item--headingtext">CHÍNH SÁCH</div>
        <div class="box__text--hover">
          <p>Chính sách đổi trả</p>
          <p>Chính sách bảo mật</p>
          <p>Điều khoản dịch vụ</p>
        </div>
      </div>
    </div>

    <div class="box__item box__item--bottom">
      <div>
        <div class="box__item--headingtext">LIÊN HỆ VỚI CHÚNG TÔI</div>
        <div class="icon" style="font-weight: bold;">
          <i class="bi bi-geo-alt-fill"></i> Số 669, Khu phố 3, Quốc lộ 1A, Phường Linh Xuân, TP. Thủ Đức, TP. Hồ
          Chí Minh
          <br> <i class="bi bi-telephone-fill"></i> 0916 113 115
          <br> <i class="bi bi-clock-fill"></i> Thời gian mở cửa: 08:00 AM - 21:00 PM
          <br> <i class="bi bi-envelope-fill"></i> dumbum123@gmail.com
        </div>
        <div class="box__item--headingtext" style="margin-bottom: 7px; margin-top: 30px; display: flex;">MẠNG XÃ HỘI
          <div class="icon" style="margin-left: 10px;"> <i class="bi bi-facebook"></i> </div>
          <div class="icon" style="margin-left: 10px;"> <i class="bi bi-instagram"></i></div>

        </div>
      </div>
      <div style=" width: 100%; flex-basis: 40%;">
        <div class="box__item--headingtext mb-1">ĐÓNG GÓP Ý KIẾN</div>
        <form action="">
          <div class="box-input">
            <div class="form-floating" style="flex-basis: 49%;">
              <input class="form-control form-input" type="text" placeholder="Họ và tên">
              <label for="floatingName">Họ và tên</label>
            </div>
            <div class="form-floating" style="flex-basis: 49%;">
              <input class="form-control form-input" type="text" placeholder="Số điện thoại">
              <label for="floatingTel">Số điện thoại</label>
            </div>

          </div>
          <div class="form-floating">
            <textarea class="form-control form-input" style="width:100%; height: 150px;" name="feedback" id="feedback"
              placeholder="Viết lời nhắn của bạn tại đây"></textarea>
            <label for="floatingTextarea">Viết lời nhắn của bạn tại đây</label>
          </div>
          <div>
            <input class="btn btn-primary w-25" type="submit" value="Gửi">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
