.content {
    width: auto;
    height: auto;
}
.box {
    max-width: 300px;
    text-align: right;
}
.box1 {
    max-width: 500px;
    border: 1px solid var(--accent);
    border-radius: 20px;
    box-shadow: 0px 3px 1px 1px var(--accent);
}
.button {
    margin-left: 150px;
    background-color: var(--primary);
    color: white;
}
.card {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px whitesmoke;
}
.size {
    color: var(--accent);
    font-weight: bold;
    font-size: 20px;
}
.img {
    max-width: 100px;
    border-radius: 5px;
}
.card-title {
    color: var(--primary);
    font-weight: bold;
    margin-top: 10px;
}
.form__button {
    max-width: 50px;
    height: 40px;
    color: var(--accent);
}
.cal {
    margin-right: 125px;
    color: var(--primary);
    font-weight: bold;
}
.sum {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.pay {
    margin: 25px 150px;
    background-color: var(--accent);
    color: var(--primary);
}
.number {
    max-width: 40px;
    text-align: center;
    height: 40px;
    color: var(--primary);
}
.price {
    font-weight: bold;
    color: var(--primary);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

