<div class="container d-flex">
    <div class="main" style="width:800px; margin: 50px auto;">
        <div class="main_header text-accent fw-bold text-center display-6">ĐĂNG KÝ NHẬN THÔNG TIN</div>
        <div class="main_display d-flex align-items-end">
            <div class="main-left w-100">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Họ và tên">
                    <label for="floatingName">Họ và tên</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingEmail" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingTel" placeholder="Họ và tên">
                    <label for="floatingTel">Số điện thoại</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingCont" placeholder="Họ và tên">
                    <label for="floatingInput">Mục đích liên hệ</label>
                </div>
            </div>
            <div class="main-right">
                <img id="img-main" src="../../assets/contact.png" alt="Không tải được hình ảnh">
            </div>
        </div>
        <div class="mx-auto main_footer text-center " style="margin: 3% auto 5%">
            <button class="btn btn-accent w-25" type="submit">Đăng ký</button>
        </div>
    </div>
</div>
