<div class="container d-flex">

    <div class="main" style="margin: 3% auto;">


        <div class="title col-1" style="font-size: 25px;">
            <p class="fw-bold text-accent">GIỚI THIỆU DUMBUM</p>
        </div>


        <div class="row">
            <div class="col-1 text-primary">
                <div style="padding-top: 5%;">
                    <p class="text-accent fw-bold" style="font-size: 15px;">DUMBUM TẠI VIỆT NAM
                    </p>
                    <p style=" text-align: left;">Mỗi ngày, Dumbum toàn cầu phục vụ không chỉ đảm bảo mang đến cho khách hàng những bữa ăn ngon, an toàn vệ sinh, mà còn làm họ hài lòng với dịch vụ của Dumbum.
                    </p>
                    <p>
                        Nắm bắt nhu cầu của người tiêu dùng Việt Nam hiện nay, chúng tôi mong muốn phục vụ những bữa ăn nhanh nhưng hợp vệ sinh, đầy đủ dưỡng chất cùng với cung cách phục vụ chuyên nghiệp, Dumbum cam kết sẽ làm bạn hài lòng với dòng sản phẩm nổi tiếng khắp thế giới của chúng tôi. Không chỉ nổi tiếng về thức ăn ngon, Dumbum còn nổi tiếng về chuỗi tiêu chuẩn chất lượng, dịch vụ, vệ sinh và
                        giá trị.
                    </p>
                </div>
                <div style="padding-top: 5%;">
                    <img style="float: left; width: 60%;" src="../../assets/BANNER 2.jpg"
                            alt="Không tải được hình ảnh">
                   <div style="padding-left: 65%;">
                       <p class="text-accent fw-bold" style="font-size: 15px;">TẦM NHÌN VÀ SỨ MỆNH</p>
                    <p>
                        Hoài bão của chúng tôi là phục vụ thức ăn ngon cùng đội ngũ nhân viên chuyên nghiệp, thân thiện và là một thành viên tốt của cộng đồng.
                    </p>
                    <p>
                        Thức ăn ngon: Chúng tôi phục vụ thức ăn ngon từ nguồn nguyên vật liệu chất lượng nhất và được chế biến theo từng yêu cầu của khách hàng.
                    </p>
                    <p>
                        Nhân viên chuyên nghiệp, thân thiện: chúng tôi luôn tạo cơ hội để nhân viên phát triển sự nghiệp cùng công ty; từ đó, cùng nhau, chúng tôi phục vụ khách hàng một cách tốt nhất.
                    </p>
                   </div>

                </div>
                <div style="padding-top: 5%;">
                    <p class="text-accent fw-bold" style="font-size: 15px;">SỨ MẠNG CỦA THƯƠNG HIỆU</p>
                    <p>
                        Là điểm đến ẩm thực được các khách hàng yêu thích nhất! Chúng tôi cam kết không ngừng nâng cao chất lượng dịch vụ và mang đến những trải nghiệm thú vị cho khách hàng qua những sản phẩm luôn được yêu thích như món khoai tây chiên lừng danh thế giới.
                    </p>
                    <p>
                        Dumbum cam kết áp dụng tiêu chuẩn của Dumbum toàn cầu, đó là: Quality - Chất lượng, Service - Dịch vụ, Cleanliness - Vệ sinh & Values - Giá trị.
                    </p>
                    <ul>
                        <li>High quality food: Thực phẩm chất lượng</li>
                        <li>Superior service: Phục vụ chuyên nghiệp</li>
                        <li>Clean and welcoming environment: môi trường sạch sẽ và thân thiện</li>
                        <li>Great value for money: Giá cả hợp lý</li>
                    </ul>
                </div>



            </div>
            <div class="col-2 text-primary-center">
                <app-navigation-list [menu]="categories"></app-navigation-list>
            </div>
        </div>
    </div>
</div>
