<img src="../../assets/BANNER fi.jpg" class="full-width m-0">
<div class="d-flex rounded-hard-children" style="margin: 2em 0;">
  <img id="imgMain" src="../../assets/1.jpg" alt="Ảnh 1" title="Ảnh 1" style="margin-right: 1em;">
  <div id="sub-banner" class="d-flex flex-column rounded-hard-children" style="margin-left: 1em;">
    <img src="../../assets/BANNER 2.jpg" alt="BANNER 2" title="BANNER 2" loading="lazy" style="margin-bottom: 1em;">
    <img src="../../assets/BANNER 3.jpg" alt="BANNER 3" title="BANNER 3" loading="lazy" style="margin-top: 1em;">
  </div>
</div>
