<div class="row mt-3 mb-3">
  <div class="row text-center w-100">
    <div class="card card-body card-product shadow rounded-hard" (click)="seeMore.emit()">
      <img [src]="'../../assets/' + product.productDetails[0].imageURL[0]" class="rounded-top rounded-hard" loading="lazy">
      <div class="fs-5 text-uppercase lh-sm d-grid mt-1">
        <span>{{product.name}}</span>
        <span class="fw-bold">{{product.productDetails[0].unitPrice | number: '1.0-0'}} VNĐ</span>
        <button class="btn btn-accent mt-1">THÊM VÀO GIỎ</button>
      </div>
    </div>
  </div>
</div>
