<div class="bar">
    <a href="./chinhsach.component.html">Trang Chủ</a>
    <a href="./chinhsachbaomat.component.html"> / Chính sách đổi trả và hoàn tiền sản phẩm</a>
</div>
<div class="title">
    <p class="title">CHÍNH SÁCH BẢO MẬT</p>
</div>
<div class="row">
    <div class="col-1">
        <p style=" text-align: justify;">Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang web, bao gồm mọi thông tin có thể cung cấp thông qua trang web khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ từ chúng tôi.

            Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi cần thiết liên quan đến việc Quý khách sử dụng website của chúng tôi, để trả lời các câu hỏi hoặc gửi tài liệu và thông tin Quý khách yêu cầu.

            Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất để bảo vệ thông tin cũng như việc thanh toán của khách hàng.

            Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu.

            Cụ thể hơn, xin quý khách vui lòng tham khảo thêm các thông tin sau:</p>
            <ol>
                <li>Mục đích </li>
                <p style=" text-align: justify;">

                    Hiện nay, vấn đề bảo mật thông tin đã trở thành vấn đề nóng trên tất cả các diễn đàn, điều này không chỉ gây khó khăn cho các tổ chức, cá nhân tham gia truy cập và giao dịch mà còn gây nên những phiền toái vượt ra ngoài tầm kiểm soát của hệ thống.

                    Chính sách bảo mật và chia sẻ thông tin khách hàng của mỹ phẩm cmdcosmetics.com nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang web, bao gồm mọi thông tin có thể cung cấp thông qua trang web khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ từ chúng tôi. Chính sách này cũng như một lời cam kết với mong muốn nâng cao chất lượng dịch vụ, bảo đảm an toàn thông tin của các cá nhân, tổ chức khi tham gia truy cập hoặc giao dịch trực tiếp trên website mỹ phẩm của chúng tôi. Chúng tôi hiểu bảo vệ và sử dụng hợp lí thông tin của bạn cũng chính là bảo vệ lòng tin và sự yêu mến của bạn dành cho chúng tôi.
                </p>
                <li>Các điều khoản áp dụng
                    <ol>
                        <li>Cập nhật thông tin khách hàng
                            <ul>
                                <li>Khi tham gia mở tài khoản hoặc giao dịch trực tiếp trên dumbum.com, khách hàng cần phải cung cấp đầy đủ các thông tin bắt buộc bao gồm tên, địa chỉ, số điện thoại... cụ thể để có thể đáp ứng các điều kiện giao dịch cần thiết. </li>
                                <li>Các thông tin cá nhân quý khách cung cấp cần đảm bảo độ chính xác và đầy đủ để phòng tránh trường hợp nhầm lẫn hoặc giả mạo. Mọi sự sai sót hoặc không chính xác trong thông tin được cung cấp sẽ ảnh hưởng trực tiếp đến quyền lợi của quý khách hàng. Do đó, chúng tôi sẽ không chịu trách nhiệm đối với những tranh chấp phát sinh có liên quan trong trường hợp này.</li>
                            </ul>
                        </li>
                        <li>Lưu giữ và bảo mật thông tin khách hàng
                            <ul>
                                <li>Tất cả các thông tin khách hàng cung cấp và nội dung giao dịch đều được dumbum.com lưu giữ bảo mật tuyệt đối trên hệ thống. Chúng tôi cam kết sẽ không bán hoặc chia sẻ dẫn đến làm lộ thông tin cá nhân của bạn, không vì những mục đích thương mại mà vi phạm cam kết của chúng tôi ghi trong chính sách bảo mật này.</li>
                                <li>Dumbum.com luôn sẵn sàng có đội ngũ kĩ thuật và an ninh để có những biện pháp đối phó với những trường hợp cố tình xâm nhập và sử dụng trái phép thông tin của khách hàng. Khi thu thập dữ liệu, chúng tôi thực hiện lưu giữ và bảo mật thông tin khách hàng tại hệ thống máy chủ và các thông tin khách hàng này được bảo đảm an toàn bằng các hệ thống bảo vệ tốt nhất hiện nay, cùng các biện pháp kiểm soát truy cập và mã hóa dữ liệu.   </li>
                                <li>Khách hàng không được phép sử dụng bất kì chương trình hay công cụ nào nhằm mục đích khai thác, thay đổi dữ liệu bất hợp pháp trên hệ thống dumbum.com. Mọi hành vi cố tình xâm phạm, tùy theo tính chất sự việc, chúng tôi có quyền khởi tố với các cơ quan có thẩm quyền theo quy định pháp luật hiện hành.</li>
                                <li>Khách hàng nên tự bảo vệ thông tin bảo mật của mình bằng cách không chia sẻ các thông tin cá nhân cũng như các thông tin giao dịch với bên thứ ba, để loại trừ những sự cố rò rỉ thông tin không đáng có.                                </li>
                            </ul>
                        </li>
                        <li>Sử dụng thông tin
                            <p>Dumbum.com có quyền sử dụng hợp pháp các thông tin cá nhân của khách hàng trong các trường hợp để đảm bảo quyền lợi của quý khách như:</p>
                            <ul>
                                <li>Thông báo các thông tin về dịch vụ quảng cáo, các chương trình khuyến mãi, những dịch vụ mới mà chúng tôi nghĩ là phụ hợp với quý khách… đến khách hàng theo nhu cầu và thói quen của quý khách khi truy cập.</li>
                                <li>Liên lạc và hỗ trợ khách hàng trong những trường hợp đặc biệt, ví dụ như khi xảy ra các vấn đề về vận chuyển hàng hóa.</li>
                                <li>Phát hiện và ngăn chặn ngay lập tức các hành vi can thiệp hoặc phá hoại tài khoản của khách hàng. </li>
                            </ul>
                        </li>
                        <li>Lưu trữ thông tin</li>
                        <p>Dumbum.com cam kết không tiết lộ thông tin khách hàng cho bên thứ ba ngoại trừ các trường hợp sau: </p>
                        <ul>
                            <li>Thực hiện theo yêu cầu của các các cá nhân, tổ chức có thẩm quyền theo quy định của pháp luật</li>
                            <li>Cần thiết phải sử dụng các thông tin để phục vụ cho việc cung cấp các dịch vụ/ tiện ích cho khách hàng.  </li>
                            <li>Nghiên cứu thị trường và đánh giá phân tích.  </li>
                            <li>Trao đổi thông tin khách hàng với đối tác hoặc đại lí phân phối để phân tích nâng cao chất lượng dịch vụ. </li>
                            <li>Ngoài các trường hợp trên, khi cần phải trao đổi thông tin khách hàng cho bên thứ ba, Dumbum sẽ thông báo trực tiếp với khách hàng và sẽ chỉ thực hiện việc trao đổi thông tin khi có sự đồng thuận từ phía khách hàng.</li>
                        </ul>
                    </ol>
                </li>
                <li>Liên hệ và giải đáp thắc mắc
                    <ul>
                        <p>Mọi ý kiến đóng góp/nhu cầu hỗ trợ vui lòng gọi vào Hotline: </p>
                        <li>Hotline:  086. 8918629 ( làm việc trong giờ hành chính)</li>
                        <li>Email: dumbum123@gmail.com</li>
                    </ul>
                </li>
            </ol>

    </div>
    <div class="col-2" >
            <div id="rectangle">
                <div class="category"><p>HỖ TRỢ KHÁCH HÀNG</p></div>
                <div>
                    <h3 class="container" href="./chinhsach.component.html" >Chính sách đổi trả</h3>
                    <h3 class="container" href="./chinhsachbaomat.component.html" >Chính sách bảo mật</h3>
                    <h3 class="container" href="./dieukhoandv.component.html">Điều khoản dịch vụ</h3>
                </div>
                <div>
                    <img src="../../assets/contact.png" class="img">
                </div>
             </div>
    </div>
</div>

